<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itegg.yougravitybackend.mapper.AttachmentMapper">

    <resultMap id="BaseResultMap" type="com.itegg.yougravitybackend.model.entity.Attachment">
        <id property="id" column="id" />
        <result property="businessId" column="business_id" />
        <result property="businessType" column="business_type" />
        <result property="name" column="name" />
        <result property="docUrl" column="doc_url" />
        <result property="docType" column="doc_type" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="removeFlag" column="remove_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,comment_id,create_time
    </sql>
</mapper>
