<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itegg.yougravitybackend.mapper.BusCommentMapper">

    <resultMap id="BaseResultMap" type="com.itegg.yougravitybackend.model.entity.BusComment">
            <id property="id" column="id" />
            <result property="eventLocationLd" column="location_id" />
            <result property="message" column="message" />
            <result property="likeCount" column="like_count" />
            <result property="parentId" column="parent_id" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="removeFlag" column="remove_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,location_id,message,like_count,parent_id,create_by,
        create_time,update_time,remove_flag
    </sql>
</mapper>
