<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itegg.yougravitybackend.mapper.BusEventMapper">

    <resultMap id="BaseResultMap" type="com.itegg.yougravitybackend.model.entity.BusEvent">
            <id property="id" column="id" />
            <result property="eventName" column="event_name" />
            <result property="eventCity" column="event_city" />
            <result property="eventStartTime" column="event_start_time" />
            <result property="eventEndTime" column="event_end_time" />
            <result property="eventBackgroundImage" column="event_background_image" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="removeFlag" column="remove_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,event_name,event_city,event_start_time,event_end_time,event_background_image,
        create_time,update_time,remove_flag
    </sql>

    <select id="getEventByUserJoin" resultType="com.itegg.yougravitybackend.model.vo.BusEventVO">
        SELECT *
        FROM bus_event be
        LEFT JOIN bus_event_join_user beu ON be.id = beu.event_id
        WHERE be.remove_flag = 0
          AND beu.remove_flag = 0
          AND beu.user_id = #{userId}
        <if test="condition.eventName != null and condition.eventName != ''">
          AND be.event_name LIKE CONCAT('%', #{condition.eventName}, '%')
        </if>
        <if test="condition.eventCity != null and condition.eventCity != ''">
            AND be.event_city LIKE CONCAT('%', #{condition.eventCity}, '%')
        </if>
        <if test="condition.eventStartTime != null">
            AND be.event_start_time &lt;= #{condition.eventStartTime}
        </if>
        <if test="condition.eventEndTime != null">
            AND be.event_end_time &gt;= #{condition.eventEndTime}
        </if>
        order by be.event_start_time desc
    </select>


</mapper>
