<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itegg.yougravitybackend.mapper.BusLocationMapper">

    <resultMap id="BaseResultMap" type="com.itegg.yougravitybackend.model.entity.BusLocation">
            <id property="id" column="id" />
            <result property="longitude" column="longitude" />
            <result property="latitude" column="latitude" />
            <result property="locationName" column="location_name" />
            <result property="wantGoCount" column="want_go_count"/>
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="removeFlag" column="remove_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,event_id,longitude,latitude,location_name,want_go_count,create_time,
        update_time,remove_flag
    </sql>

    <select id="wantGoList" resultType="com.itegg.yougravitybackend.model.vo.BusLocationVO">
        SELECT bl.id as id,
               bl.location_name as locationName,
               bl.longitude as longitude,
               bl.latitude as latitude,
               bl.want_go_count as wantGoCount,
               bl.introduction as introduction,
               blw.user_id as userId,
               1 as isWantGo,
               EXISTS(SELECT 1
                      FROM bus_location_check_in blc
                      WHERE blc.location_id = bl.id
                        AND blc.user_id = #{userId}
                        AND blc.remove_flag = 0) as isCheckIn
        FROM bus_location bl
        LEFT JOIN bus_location_want_go blw ON bl.id = blw.location_id
        WHERE bl.remove_flag = 0
          AND blw.user_id = #{userId}
        <if test="condition.locationName != null and condition.locationName != ''">
          AND bl.location_name LIKE CONCAT('%',#{condition.locationName},'%')
        </if>
    </select>

</mapper>
