<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itegg.yougravitybackend.mapper.gallery.GalleryImageMapper">

    <resultMap id="BaseResultMap" type="com.itegg.yougravitybackend.model.entity.gallery.GalleryImage">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="url" column="url" />
            <result property="tags" column="tags" />
            <result property="picSize" column="pic_size" />
            <result property="picWidth" column="pic_width" />
            <result property="picHeight" column="pic_height" />
            <result property="picScale" column="pic_scale" />
            <result property="picFormat" column="pic_format" />
            <result property="galleryId" column="gallery_id" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="removeFlag" column="remove_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,`name`,`url`,tags,pic_size,pic_width,pic_height,pic_scale,
        pic_format,gallery_id,create_by,create_time,update_time,remove_flag
    </sql>
</mapper>
