<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itegg.yougravitybackend.mapper.basic.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.itegg.yougravitybackend.model.entity.basic.RolePermission">
        <id property="id" column="id" />
        <result property="roleId" column="role_id" />
        <result property="permissionId" column="permission_id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="removeFlag" column="remove_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,`role_id`,`permission_id`,
        create_time,update_time,remove_flag
    </sql>
</mapper>
