<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itegg.yougravitybackend.mapper.SpaceMapper">

    <resultMap id="BaseResultMap" type="com.itegg.yougravitybackend.model.entity.Space">
            <id property="id" column="id" />
            <result property="spaceName" column="space_name" />
            <result property="spaceDesc" column="space_desc" />
            <result property="spaceLevel" column="space_level" />
            <result property="maxSize" column="max_size" />
            <result property="maxCount" column="max_count" />
            <result property="totalSize" column="total_size" />
            <result property="totalCount" column="total_count" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="removeFlag" column="remove_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,space_name,space_desc,space_level,max_size,max_count,
        total_size,total_count,create_by,create_time,update_time,
        remove_flag
    </sql>
</mapper>
