<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itegg.yougravitybackend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.itegg.yougravitybackend.model.entity.User">
            <id property="id" column="id" />
            <result property="user_account" column="user_account" />
            <result property="user_password" column="user_password" />
            <result property="user_name" column="user_name" />
            <result property="user_avatar" column="user_avatar" />
            <result property="user_profile" column="user_profile" />
            <result property="tags" column="tags" />
            <result property="user_role" column="user_role" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
            <result property="remove_flag" column="remove_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_account,user_password,user_name,user_avatar,user_profile,
        tags,user_role,create_time,update_time,remove_flag
    </sql>
</mapper>
